# Git
.git
.gitignore

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environnement
.env

# Node / Frontend
node_modules/
npm-debug.log

# Base de données locale
*.sqlite3

# Docker
docker-compose*
.dockerignore