# ==========================================
# 1. Python (Django)
# ==========================================
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
db.sqlite3
db.sqlite3-journal
/media/

# ==========================================
# 2. Node / Frontend
# ==========================================
node_modules/
/frontend/node_modules
.npm
/staticfiles/
.parcel-cache/

# ==========================================
# 3. Sécurité et Confidentialité
# ==========================================
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# ==========================================
# 4. OS & IDE
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/